* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* SECTION 1: HEADER */


/* SECTION 2: MAIN */

#main {
    padding: 3rem 5rem;
    font-size: 1.4rem;
}

#main p {
    font-weight: 480;
}


/* SECTION 3: FOOTER */